/* General Styling here */
.view {
  height: 105vh;
}
.is-fixed-top {
  margin-left: 1.5rem;
}
/* to here */


/* Navbar Styling here */
.navbar {
  background: transparent;
}
.navbar-item {
  margin: 0 2.5em;

}
.navbar-item:hover {
  color: rgb(255, 255, 255) !important;
}
/* View 1 styling **/ 
#view1 {
  background: url("../img/DSC09707-min.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-hero {
  color: white !important;
  text-align: center;
  margin-top: 25vh;
}
.center-hero-content {
  margin: 1em;
  color: white;
}
/* View 2 styling **/ 
#view2 {
  background: gainsboro;
}
