/* General Styling here */
.view {
  height: 105vh;
}
.is-fixed-top {
  margin-left: 1.5rem;
}
/* to here */


/* Navbar Styling here */
.navbar {
  background: transparent;
}
.navbar-item {
  margin: 0 2.5em;

}
.navbar-item:hover {
  color: rgb(255, 255, 255) !important;
}
/* View 1 styling **/ 
#view1 {
  background: url("../img/DSC09707-min.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-hero {
  color: white !important;
  text-align: center;
  margin-top: 25vh;
}
.center-hero-content {
  margin: 1em;
  color: white;
}
/* View 2 styling **/ 
#view2 {
  background: gainsboro;
}
#view2 .is-child {
  height: 12em;
  text-align: center;
  -webkit-transition: width 2s ease-in-out, height 2s ease-in-out;
  -moz-transition: width 2s ease-in-out, height 2s ease-in-out;
  transition: width 2s ease-in-out, height 2s ease-in-out;
}
#view2 article:hover {
  background: peachpuff;
}

.on-display {
  width: 100vw;
  height: 100vh;
}