/* General Styling here */
html,
body,
.view1,
.view2 {
  height: 100%;
}
/* to here */


/* Navbar Styling here */
.navbar {
  background: transparent;
}
.navbar-item:hover {
  text-decoration: underline;
  color: white !important;
}
/* View 1 styling **/ 
.view1 {
  background: url("../img/DSC09707-min.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-hero {
  color: white !important;
  text-align: center;
  margin-top: 25vh;
}
.center-hero-content {
  margin: 1em;
  color: white;
}
/* View 2 styling **/ 
.view2 {
  background: gainsboro;
  
}